﻿@model IEnumerable<WhWebApp.Domain.Race>
    
<div class="container">
    <div class="row">
        <div class="col-xs-1">
            Id
        </div>
        <div class="col-xs-2">
            Status
        </div>
        <div class="col-xs-2">
            Bets
        </div>
    </div>
    @foreach (var race in Model)
    {
        <div class="row">
            <div class="col-xs-2">
                @race.Id
            </div>
            <div class="col-xs-2">
                @race.Status
            </div>
            <div class="col-xs-2">
                @race.TotalBets
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-4">
                        Horse name
                    </div>
                    <div class="col-xs-4">
                        Number of bets
                    </div>
                    <div class="col-xs-4">
                       Total prize
                    </div>
                </div>
                @foreach (var horse in race.Horses)
                {
                    <div class="row">
                        <div class="col-xs-4">
                            @horse.Name
                        </div>
                        <div class="col-xs-4">
                            @horse.Bets
                        </div>
                        <div class="col-xs-4">
                            @(horse.Odds * horse.TotalBets)
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>